/* .NavBar{
  background-color: aquamarine;
}

.active{
  background-color: blueviolet;
} */

.main-nav-bar{
  height: 50px;
}

.main-nav-bar >*:not(:last-child){
margin-right: 20px;
}


@font-face {
  font-family: roboto-regular;
  src: url(../Fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto-bold;
  src: url(../Fonts/Roboto-Bold.ttf);
}

/* EMAILS CSS*/

/* Base */

* {
  box-sizing: border-box;
}

html {
  font-family: roboto-regular, serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
}

.hide {
  visibility: hidden;
}

body {
  margin: 0;
}

.body-container {
  height: 100vh;
}

.NavBar li {
  display: inline;
  margin: 15px;
}

/* list helpers */

.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.emails-list-container {
  height: 100vh;
  flex: 1;
  overflow-y: auto;
  /* background-color: rgb(245, 245, 245); */
}

/* right-side */

.right-side {
  flex: 1;
  margin-left: 6px;
}



/* search */

.search-email {
  padding-left: 8px;
  margin-bottom: 20px;
  height: 30px;
  width: 250px;
  /* border: 0px; */
  border: 1px solid rgb(71, 110, 202);
  border-radius: 7px;
  /* background-color: rgb(230, 230, 230); */
}

.search-input {
  border: 0px;
  width: 220px;
  /* background-color: rgb(230, 230, 230); */
}

.mag-input {
  opacity: 30%;
}

/* filter */

.filter-section {
  height: 30px;
  width: 80px;
  border: 1px solid rgb(71, 110, 202);;
  border-radius: 7px;
  margin-right: 20px;
  /* background-color: rgb(230, 230, 230); */
  font-family: roboto-regular, serif;
  padding-left: 8px;
}

.filtering-row{
  margin-right: 10px;
}

/* mail */

.email-container {
  height:80px;
  border-bottom: 1px solid rgb(241, 241, 241);
  z-index: -1;
  width: 84vw;
}

.email-btn button {
  background-color: white;
  border: 0px;
  font-size: 16px;
}

.email-from {
  width:100px;
  padding-left: 12px;
  /* font-weight: bold; */
}

.email-subject {
  /* width:1000px; */
  font-size: 16px;
  padding-left: 50px;
  color:rgb(71, 110, 202);;
}

.email-body{
  font-size: 12px;
  padding-left: 20px;
}

.email-date {
  font-size: 14px;
}

.unread {
  background-color: rgb(245, 245, 245);
}

.read {
  background-color: white
}


.read-email{
  color:rgb(71, 110, 202);

}

.delete-email{
  color:rgb(255, 78, 34)

}

.star-email{
  color:rgb(212, 196, 52)
}

/* sideNav- left-side */


.left-side{
padding-right: 20px;
border-right: 1px solid  rgb(233, 233, 233);
}

.sideNav {
  flex: 0 0 200px;
  overflow: hidden;
  text-align: center;

}

.side-nav-3btn button {
 background-color: #ffffff; 
  border: 0px;
  padding-top: 60px;
  text-align: center;
  font-family: roboto-regular, serif;
  color:rgb(71, 110, 202);
  font-size:14px;
} 


.compose-btn button{
  border: 0px;
  width:120px;
  height: 40px;
  border-radius: 10px;
  font-size: 15px;
  color:white;
  background-color:rgb(71, 110, 202);

}

.email-profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-left: 15px;
}

.user-name{
  padding-bottom: 40px;
  border-bottom: 1px solid rgb(233, 233, 233);
}

/* flex helpers */

.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex.wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.flex-end{
  justify-content:flex-end;
}

