/* .NavBar{
  background-color: aquamarine;
}

.active{
  background-color: blueviolet;
} */


@font-face {
  font-family: roboto-regular ;
  src: url(../Fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto-bold ;
  src: url(../Fonts/Roboto-Bold.ttf);
}



/* EMAILS CSS*/


/* Base */

* {
  box-sizing: border-box;
}


html {
  font-family: roboto-regular, serif;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
}

.hide {
  visibility: hidden;
}

body{
  margin:0;
}


.body-container{
  height: 100vh;
}


/* list helpers */

.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.emails-list-container{
  height: 100vh;
  flex:1;
  overflow-y: auto;
}

/* right-side */

.right-side{
  flex:1;
  margin-left: 20px;
}

.email-container{
border-bottom: 1px solid rgb(199, 199, 199);
z-index: -1;
}

.unread{
  background-color:rgb(245, 245, 245);
}

.read{
  background-color:rgb(160, 45, 45);
}


/* search */
.search-email{
padding-left: 8px;
margin-bottom: 20px;
height: 30px;
width: 250px;
border: 0px;
background-color: rgb(230, 230, 230);
}

.search-input{
  border: 0px;
  width:220px;
  background-color: rgb(230, 230, 230);
}

/* filter */
/* .select-filter{

} */

/* sideNav- left-side */


.sideNav{
  flex: 0 0 200px;
  overflow: hidden;
  text-align: center;

}


.sideNav button{
  background-color: #ffffff;
  border: 0px;
  padding-top: 20px;
  text-align: center;
  font-family: roboto-regular, serif;
}

.email-profile-pic{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-left:15px;
}



/* flex helpers */

.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex.wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}




/* notes css */
.addBtnNotes img{
  width:50px;

}

.AllNotes div{
  background-color: beige;
  margin:10px;
 width: 50%;
 height: 50px;

 
  
}

.notesImgs img{
width:90px;
border-radius:5px;
}

