/* .NavBar{
  background-color: aquamarine;
}

.active{
  background-color: blueviolet;
} */

@font-face {
  font-family: roboto-regular;
  src: url(../Fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto-bold;
  src: url(../Fonts/Roboto-Bold.ttf);
}

/* EMAILS CSS*/

/* Base */

* {
  box-sizing: border-box;
}

html {
  font-family: roboto-regular, serif;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
}

.hide {
  visibility: hidden;
}

body {
  margin: 0;
}

.body-container {
  height: 100vh;
}

/* list helpers */

.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.emails-list-container {
  height: 100vh;
  flex: 1;
  overflow-y: auto;
  background-color: rgb(245, 245, 245);
}

/* right-side */

.right-side {
  flex: 1;
  margin-left: 6px;
}

/* search */

.search-email {
  padding-left: 8px;
  margin-bottom: 20px;
  height: 30px;
  width: 250px;
  border: 0px;
  background-color: rgb(230, 230, 230);
}

.search-input {
  border: 0px;
  width: 220px;
  background-color: rgb(230, 230, 230);
}

.mag-input {
  opacity: 30%;
}

/* filter */

.filter-section {
  height: 30px;
  width: 80px;
  border: 0px;
  margin-right: 20px;
  background-color: rgb(230, 230, 230);
  font-family: roboto-regular, serif;
  padding-left: 8px;
}

/* mail */

.email-and-btn-container{
  padding-bottom: 20px;
}

.email-container {
  height: 40px;
  border-bottom: 1px solid rgb(199, 199, 199);
  z-index: -1;
  width: 84vw;
}

.email-btn button {
  background-color: white;
  border: 0px;
  font-size: 16px;
}

.email-from {
  width:100px;
  padding-left: 12px;
  font-weight: bold;
}

.email-subject {
  /* width:1000px; */
  font-size: 16px;
  padding-left: 50px;
  color:teal;
}

.email-body{
  font-size: 12px;
  padding-left: 20px;
}

.email-date {
  font-size: 14px;
}

.unread {
  background-color: rgb(245, 245, 245);
}

.read {
  background-color: white
}

/* sideNav- left-side */


.left-side{
padding-right: 20px;
border-right: 1px solid  rgb(233, 233, 233);
}

.sideNav {
  flex: 0 0 200px;
  overflow: hidden;
  text-align: center;
}

.side-nav-3btn button {
 background-color: #ffffff; 
  border: 0px;
  padding-top: 60px;
  text-align: center;
  font-family: roboto-regular, serif;
} 

.compose-btn button{
  border: 0px;
  width:100px;
  height: 40px;
  border-radius: 10px;
  font-size: 15px;
  background-color:teal;;

}

.email-profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-left: 15px;
}

.user-name{
  padding-bottom: 40px;
  border-bottom: 1px solid rgb(233, 233, 233);
}

/* flex helpers */

.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex.wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

/* notes css */

.addBtnNotes img {
  width: 50px;
}

.AllNotes div {
  background-color: beige;
  margin: 10px;
  width: 50%;
  height: 50px;
}

.notesImgs img {
  width: 90px;
  border-radius: 5px;
}

/* colorpicker */

/* input[type="radio"] {
  display: none;
} */

input[type="radio"]:checked+label span {
  transform: scale(1.25);
}

input[type="radio"]:checked+label .red {
  border: 2px solid #711313;
}

input[type="radio"]:checked+label .orange {
  border: 2px solid #873a08;
}

input[type="radio"]:checked+label .yellow {
  border: 2px solid #816102;
}

input[type="radio"]:checked+label .olive {
  border: 2px solid #505a0b;
}

input[type="radio"]:checked+label .green {
  border: 2px solid #0e4e1d;
}

input[type="radio"]:checked+label .teal {
  border: 2px solid #003633;
}

input[type="radio"]:checked+label .blue {
  border: 2px solid #103f62;
}

input[type="radio"]:checked+label .violet {
  border: 2px solid #321a64;
}

input[type="radio"]:checked+label .purple {
  border: 2px solid #501962;
}

input[type="radio"]:checked+label .pink {
  border: 2px solid #851554;
}

label {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  cursor: pointer;
}

label:hover span {
  transform: scale(1.25);
}

label span {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
  border-radius: 50%;
}

label span.red {
  background: #db2828;
}

label span.orange {
  background: #f2711c;
}

label span.yellow {
  background: #fbbd08;
}

label span.olive {
  background: #b5cc18;
}

label span.green {
  background: #21ba45;
}

label span.teal {
  background: #00b5ad;
}

label span.blue {
  background: #2185d0;
}

label span.violet {
  background: #6435c9;
}

label span.purple {
  background: #a333c8;
}

label span.pink {
  background: #e03997;
}